@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Secular+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  font-family: "Amiri", serif;
}

a,
button {
  all: unset;
}

a:hover,
button:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  margin-top: 30px;
}

.logo {
  font-family: "Secular One", sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin-top: -10px;
}

.logoSubtitle {
  font-size: 22px;
}

.aside {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
}

.navlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlink {
  font-size: 18px;
  position: relative;
}

.navlink::before {
  content: "";
  position: absolute;
  width: 120%;
  background-color: #30e849;
  border-radius: 2px;
  height: 5px;
  bottom: 2px;
  transform: translate(-50%, 0);
  left: 50%;
  z-index: -1;
}

.navlink:hover::before {
  background-color: #93e79e;
}

.serverIcon {
  width: 100px;
  height: 100px;
}

.divider {
  border-bottom: 1px solid black;
  background: red;
  width: 90%;
  margin: 1rem auto 1rem auto;
}

.main {
  padding: 50px;
  width: 900px;
}

.button {
  all: unset;
  padding: 0px 12px;
  background: rgb(55, 146, 101);
  color: white;
  font-size: 24px;
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
  background: rgb(110, 182, 146);
}

nav {
  margin-bottom: 15px;
}

.postDate {
  font-size: 16px;
  margin-bottom: 12px;
}

.post {
  line-height: 1.5rem;
}

.postList {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
