@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald&display=swap");
.nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10vw;
  border-bottom: 2px solid #eef1f5;
}
@media (max-width: 1200px) {
  .nav {
    height: 48px;
    padding: 0px 5vw;
  }
}

.logo {
  all: unset;
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  margin-top: -8px;
}
@media (max-width: 1200px) {
  .logo {
    font-size: 24px;
    margin-top: -2px;
  }
}

.mobileNav {
  display: none;
  flex-direction: column;
  position: fixed;
  min-height: 100vh;
  width: 80vw;
  background: white;
  top: 0px;
  z-index: 10;
  right: 0px;
  padding-top: 64px;
}

.logo:hover {
  cursor: pointer;
}

.nav__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3vw;
  color: #3b4754;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .nav__list {
    display: none;
    flex-direction: column;
    gap: 24px;
    font-weight: 500;
  }
  .nav__list.nav__list--mobile {
    display: flex;
  }
}

#closeButton {
  font-size: 30px;
  position: absolute;
  top: 18px;
  right: 24px;
}

#burgerButton:hover,
#closeButton:hover {
  cursor: pointer;
}

.nav__listItem > a {
  all: unset;
}

.nav__listItem > a:hover {
  cursor: pointer;
}

.searchContainer {
  position: relative;
}
@media (max-width: 1200px) {
  .searchContainer {
    display: none;
    margin-top: 24px;
    align-self: center;
  }
  .searchContainer.searchContainer--mobile {
    display: block;
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: none;
}

#burgerButton {
  display: none;
}
@media (max-width: 1200px) {
  #burgerButton {
    display: block;
    font-size: 24px;
  }
}

.searchBar {
  all: unset;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  outline: 2px solid #9fafc1;
  padding-left: 36px;
  padding-right: 12px;
  color: #6e7986;
}

.searchIcon {
  color: #9fafc1;
  position: absolute;
  left: 12px;
  top: 12px;
}

.show {
  display: flex;
}

.hero {
  height: 350px;
  background: #edf0f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  position: relative;
  text-align: center;
}
@media (max-width: 1200px) {
  .hero {
    height: 240px;
  }
}

.postHero {
  background: black;
}

.heroImage {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.4;
}

.primaryTagline {
  font-size: 42px;
  color: #3b4754;
  z-index: 1;
}
@media (max-width: 1200px) {
  .primaryTagline {
    font-size: 28px;
    max-width: 90%;
  }
}

.secondaryTagline {
  font-weight: 400;
  font-size: 20px;
  color: #798da3;
  z-index: 1;
}
@media (max-width: 1200px) {
  .secondaryTagline {
    font-size: 16px;
    max-width: 90%;
  }
}

.postPrimaryTagline {
  color: white;
}

.postSecondaryTagline {
  color: rgb(221, 221, 221);
}

.attribution {
  all: unset;
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: rgba(218, 218, 218, 0.452);
  font-size: 12px;
}

.attribution:hover {
  cursor: pointer;
}

.subscribeSection {
  height: 150px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #eef1f5;
  border-top: 2px solid #eef1f5;
}
@media (max-width: 1200px) {
  .subscribeSection {
    height: 90px;
  }
}

.subscribeContainer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .subscribeContainer {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
  }
}

.subscribeHeading {
  color: #3b4754;
}
@media (max-width: 1200px) {
  .subscribeHeading {
    font-size: 18px;
  }
}

.subscribeForm {
  display: flex;
  gap: 36px;
  align-items: center;
}
@media (max-width: 1200px) {
  .subscribeForm {
    gap: 24px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.emailInput {
  all: unset;
  width: 300px;
  height: 36px;
  padding: 0px 12px;
  font-size: 18px;
  outline: 2px solid #c9d3dd;
  border-radius: 6px;
  color: #737f8d;
}
@media (max-width: 1200px) {
  .emailInput {
    max-width: 150px;
    height: 24px;
    font-size: 16px;
    width: 50%;
  }
}

.emailInput::placeholder {
  color: #9fafc1;
}

.subscribeButton {
  all: unset;
  border-radius: 6px;
  background: #29323d;
  font-size: 16px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  padding: 0px 24px;
  height: 38px;
}
@media (max-width: 1200px) {
  .subscribeButton {
    height: 28px;
    font-size: 16px;
  }
}
.subscribeButton:hover {
  cursor: pointer;
}

.postsSection {
  display: flex;
  justify-content: center;
}

.postsContainer {
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 42px 0px 96px 0px;
}
@media (max-width: 1200px) {
  .postsContainer {
    max-width: 100%;
    padding: 20px 8px 48px 8px;
  }
}

.mainNewsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 420px;
  gap: 36px;
}
@media (max-width: 1200px) {
  .mainNewsContainer {
    gap: 12px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    height: 560px;
  }
}

.mainNews {
  color: white;
  background: black;
  border-radius: 10px;
  font-size: 18px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
  overflow: hidden;
}

.news1 {
  grid-area: 1/1/3/3;
  gap: 24px;
  padding: 0px 12px 48px 12px;
}
@media (max-width: 1200px) {
  .news1 {
    grid-area: 1/1/2/3;
    padding: 0px 12px 36px 12px;
  }
}

.newsImage {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.4;
}

.mainNews__date {
  z-index: 1;
}

.news1__title,
.news2__title {
  font-size: 36px;
  font-weight: 700;
  z-index: 1;
}

.news2 {
  gap: 16px;
  padding: 0px 12px 36px 12px;
}
@media (max-width: 1200px) {
  .news2 {
    padding-bottom: 0px 12px 24px 12px;
  }
}

.news2__title {
  font-size: 20px;
  font-weight: 700;
}

.mainNews__date {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.secondaryNews {
  margin-top: 42px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 36px;
}
@media (max-width: 1200px) {
  .secondaryNews {
    display: block;
    margin: 0px 12px;
    margin-top: 36px;
  }
}

.secondaryNews__image {
  width: 240px;
  height: 160px;
  background: #edf0f4;
  object-fit: cover;
  object-position: center;
}
@media (max-width: 1200px) {
  .secondaryNews__image {
    display: none;
  }
}

.secondaryNews__title {
  color: #3b4754;
  font-size: 24px;
  font-weight: 700;
}

.secondaryNews__excerpt {
  color: #798da3;
}

.secondaryNews__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.readMore {
  text-decoration: underline;
}

.loadMoreButton {
  all: unset;
  margin: auto;
  margin-top: 36px;
  border-radius: 42px;
  width: 240px;
  height: 64px;
  border: 3px solid black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .loadMoreButton {
    max-width: 160px;
    height: 48px;
  }
}

.hidden {
  display: none;
}

.topSection {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10vw;
  border-bottom: 2px solid #eef1f5;
}
@media (max-width: 1200px) {
  .topSection {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .logo--footer {
    display: none;
  }
}

.copyright {
  color: #3b4754;
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  .copyright {
    font-size: 16px;
  }
}

.footer__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 3vw;
  color: #3b4754;
  font-weight: 700;
}
@media (max-width: 1200px) {
  .footer__list {
    display: none;
  }
}

.socialList {
  list-style-type: none;
  color: #3b4754;
  display: flex;
  gap: 24px;
  font-size: 26px;
}
@media (max-width: 1200px) {
  .socialList {
    font-size: 18px;
  }
}

.alert {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
  width: 1000px;
  border-radius: 8px;
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .alert {
    max-width: 95%;
  }
}

.success {
  background: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.info {
  background: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
}

.alerts {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.closeAlert {
  font-size: 24px;
}

.closeAlert:hover {
  cursor: pointer;
}

.votebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 54px;
  margin-bottom: 54px;
}

.votePrompt {
  text-align: center;
}

.votebox__button {
  margin-top: 12px;
  margin-bottom: 12px;
  border: 2px solid black;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 700;
}

.votebox__button:hover {
  background: black;
  color: white;
}

.radioOption {
  margin-top: 12px;
  margin-bottom: 12px;
}

.postSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0px;
}
@media (max-width: 1200px) {
  .postSection {
    padding: 24px 0px;
  }
}

.post {
  width: 1000px;
}
@media (max-width: 1200px) {
  .post {
    max-width: 93%;
  }
}

.category {
  font-weight: 700;
  text-decoration: underline;
  color: white;
}

.postAuthor {
  font-weight: 700;
  color: white;
}

.summaryContainer {
  display: block;
  background: rgb(245, 244, 243);
  padding: 12px 18px;
  border-left: 6px solid rgb(189, 174, 174);
}

.postBody {
  display: flex;
  flex-direction: column;
}
.postBody h1 {
  font-size: 36px;
  margin-bottom: 18px;
  margin-top: 44px;
}
@media (max-width: 1200px) {
  .postBody h1 {
    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 36px;
  }
}
.postBody h2 {
  font-size: 24px;
  margin-bottom: 18px;
  margin-top: 24px;
}
@media (max-width: 1200px) {
  .postBody h2 {
    font-size: 18px;
    margin-bottom: 18px;
    margin-top: 18px;
  }
}
.postBody h3 {
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 18px;
}
@media (max-width: 1200px) {
  .postBody h3 {
    font-size: 16px;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}
.postBody p {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.7em;
}
@media (max-width: 1200px) {
  .postBody p {
    font-size: 16px;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
  }
}
.postBody a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}
.postBody img {
  margin-top: 24px;
  margin-bottom: 24px;
}
.postBody ul,
.postBody ol {
  margin-left: 96px;
  margin-bottom: 1em;
  margin-top: 1em;
}
@media (max-width: 1200px) {
  .postBody ul,
.postBody ol {
    margin-left: 36px;
    font-size: 14px;
  }
}
.postBody ul > li,
.postBody ol > li {
  line-height: 1.7em;
}
.postBody li {
  text-indent: 12px;
}
.postBody img {
  max-width: 100%;
  height: auto;
  align-self: center;
}
.postBody .image {
  text-align: center;
}
.postBody .image .caption {
  font-size: 16px;
  margin-top: -10px;
}
.postBody input {
  all: unset;
  width: 300px;
  height: 36px;
  padding: 0px 12px;
  font-size: 18px;
  outline: 2px solid #c9d3dd;
  border-radius: 6px;
  color: #737f8d;
}
@media (max-width: 1200px) {
  .postBody input {
    max-width: 150px;
    height: 24px;
    font-size: 16px;
    width: 50%;
  }
}
.postBody input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  transition: 0.2s all linear;
  margin-right: 15px;
}
.postBody input[type=radio]:checked {
  background: black;
}
.postBody input[type=radio]:hover {
  cursor: pointer;
  outline: 2px solid black;
}
.postBody input[type=radio]:hover + label {
  color: black;
}
.postBody input[type=radio] + label {
  color: rgb(99, 99, 99);
}
.postBody input[type=radio] + label:hover {
  cursor: pointer;
  color: black;
}
.postBody textarea {
  width: 100%;
  height: 96px;
  padding: 6px 6px;
  font-size: 16px;
  outline: 2px solid #c9d3dd;
  border-radius: 6px;
  color: #737f8d;
}
@media (max-width: 1200px) {
  .postBody textarea {
    max-width: 95%;
    height: 68px;
  }
}
.postBody select {
  width: 300px;
  height: 36px;
  padding: 0px 12px;
  font-size: 16px;
  outline: 2px solid #c9d3dd;
  border-radius: 6px;
  color: #737f8d;
}
@media (max-width: 1200px) {
  .postBody select {
    max-width: 95%;
  }
}
.postBody .buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.postBody .button {
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-self: center;
  width: fit-content;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  padding: 12px 36px;
  font-size: 26px;
  margin-top: 36px;
  margin-bottom: 48px;
}
.postBody .button:hover {
  color: white;
  background: black;
}
.postBody .emailInput::placeholder {
  color: #9fafc1;
}
.postBody .canvasContainer {
  height: 600px;
  width: 600px;
  align-self: center;
}
.postBody #scene-container canvas {
  height: 400px;
  outline: 2px solid black;
}

.morePostsContainer {
  margin-top: 48px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 42px 0px;
}
@media (max-width: 1200px) {
  .morePostsContainer {
    max-width: 100%;
    padding: 20px 8px 48px 8px;
  }
}

.moreNews {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 36px;
}
@media (max-width: 1200px) {
  .moreNews {
    display: block;
    margin: 0px 12px;
    margin-top: 36px;
  }
}

.morePostsTitle {
  text-align: center;
}
@media (max-width: 1200px) {
  .morePostsTitle {
    font-size: 28px;
  }
}

.postSummary {
  margin-bottom: 18px;
}

.shareList {
  display: flex;
  justify-content: end;
  gap: 12px;
}

pre[data-file]::before {
  content: attr(data-file);
  position: absolute;
  top: 5px;
  right: 12px;
  opacity: 0.5;
  font-size: 14px;
}
@media (max-width: 1200px) {
  pre[data-file]::before {
    top: 0px;
    left: 4px;
    font-size: 11px;
  }
}

pre[data-file] {
  position: relative;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0px;
}
@media (max-width: 1200px) {
  .pageContainer {
    padding: 24px 0px;
  }
}

.page {
  width: 1000px;
}
@media (max-width: 1200px) {
  .page {
    max-width: 93%;
  }
}
.page h1 {
  font-size: 36px;
  margin-bottom: 36px;
}
.page h2 {
  font-size: 24px;
  margin-bottom: 24px;
}
.page h3 {
  font-size: 18px;
  margin-bottom: 18px;
}
.page p {
  margin-bottom: 1em;
  line-height: 1.7em;
}
.page a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}
.page img {
  margin-bottom: 24px;
}
.page ul,
.page ol {
  margin-left: 96px;
}
.page ul > li,
.page ol > li {
  line-height: 1.7em;
}
.page li {
  text-indent: 12px;
}
.page img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

a,
button {
  all: unset;
}

a:hover,
button:hover {
  cursor: pointer;
}

.text_link {
  font-weight: 700;
  text-decoration: underline;
}

.basicSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 0px;
}
@media (max-width: 1200px) {
  .basicSection {
    padding: 24px 0px;
  }
}

.basicContainer {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .basicContainer {
    max-width: 95%;
  }
}
.basicContainer h1 {
  font-size: 36px;
  margin-bottom: 36px;
  margin-top: 36px;
}
.basicContainer h2 {
  font-size: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}
.basicContainer h3 {
  font-size: 18px;
  margin-bottom: 18px;
  margin-top: 18px;
}
.basicContainer p {
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.7em;
}
.basicContainer a {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 700;
}
.basicContainer img {
  margin-top: 24px;
  margin-bottom: 24px;
}
.basicContainer ul,
.basicContainer ol {
  margin-left: 96px;
}
.basicContainer ul > li,
.basicContainer ol > li {
  line-height: 1.7em;
}
.basicContainer li {
  text-indent: 12px;
}
.basicContainer img {
  max-width: 100%;
}

/*# sourceMappingURL=style.css.map */
