{% extends "index.html" %} {% block content %}
<h1>About me</h1>
<p>Hi, there. I'm Frank Lee, and I'm a student in the Online Master of Science in Computer Science program at Georgia Tech. My hobby is web development. My interests lie in human-computer interaction, educational technology, and architecture and organization.</p>
<p>I am a non-traditional student, being a US-trained physician and former research associate in biomedical engineering working at the neural-electrode interface. I have a passion for learning and teaching, and tutor high school and college students in the natural sciences.</p>
<p>The purpose of this blog is to document my discoveries while I explore the field of computer science.</p>
{% endblock %}
