{% extends "index.html" %} {% block content %}
<h1>About me</h1>
<p>Hi, there. I'm Frank Lee, and I'm a student in the Online Master of Science in Computer Science program at Georgia Tech. My hobby is web development. My interests lie in human-computer interaction, educational technology, and the brain-machine interface. I have a background in medicine and neural engineering, and tutor students in the natural sciences. The purpose of this blog is to document my discoveries while I explore the field of computer science.</p>
{% endblock %}
