{% extends "base.html" %} 
{% block content %}
<div class="pageContainer">
    <div class="page">
<h1>About me</h1>
<p>I'm Frank and I like e-sports. My favorite games are Runescape, Heroes of the Storm, Path of Exile, Starcraft 2, Hearthstone, and Genshin Impact. I also have an MD and was a postdoctoral researcher working at the neural-electrode interface at Washington University in St. Louis. I currently <a href="https://eleettutoring.com/home" target="_blank" class="text_link">tutor</a> students in the natural and formal sciences.</p>
    </div>
</div>
{% endblock %}
