<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}
    {% endblock %}
    <title>CompSci Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}"/>
    {% block stylesheets %}
    {% endblock %}
  </head>
  <body>
    <div class="overlay"></div>
    <nav class="nav">
      <a href="{% url 'index' %}" class="logo">compsci.blog</a>
      <ul class="nav__list">
        <li class="nav__listItem"><a href="{% url 'about' %}">About</a></li>
        <li class="nav__listItem"><a href="{% url 'topics' %}">Topics</a></li>
        <li class="nav__listItem"><a href="">Research</a></li>
        <li class="nav__listItem"><a href="">Education</a></li>
      </ul>
        <form class="searchContainer" action="{% url 'search' %}" method="post">
            <i class="fa-solid fa-magnifying-glass searchIcon"></i>
            {% csrf_token %}
            <input
              type="text"
              name="search"
              class="searchBar"
              placeholder="Search..."
            />
            <input hidden type="submit">
        </form>
      </div>
      <i class="fas fa-bars" id="burgerButton"></i>
    </nav>
    <nav class="mobileNav">
        <i class="fa-solid fa-xmark" id="closeButton"></i>
        <ul class="nav__list nav__list--mobile">
            <li class="nav__listItem"><a href="{% url 'about' %}">About</a></li>
            <li class="nav__listItem"><a href="{% url 'topics' %}">Topics</a></li>
            <li class="nav__listItem"><a href="">Research</a></li>
            <li class="nav__listItem"><a href="">Education</a></li>
          </ul>
          <form class="searchContainer searchContainer--mobile" action="{% url 'search' %}" method="post">
            <i class="fa-solid fa-magnifying-glass searchIcon"></i>
            {% csrf_token %}
            <input
              type="text"
              name="search"
              class="searchBar"
              placeholder="Search..."
            />
            <input hidden type="submit">
        </form>
          </div>
    </nav>
    {% if messages %}
<ul class="alerts">
    {% for message in messages %}
    <li class="alert{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}
      <i class="fa-solid fa-xmark closeAlert"></i>
    </li>
    {% endfor %}
</ul>
{% endif %}
    {% block content %}

    {% endblock %}
    <section class="subscribeSection">
        <div class="subscribeContainer">
          <h1 class="subscribeHeading">Subscribe to our newsletter</h1>
          <form class="subscribeForm" action="{% url 'subscribe' %}" method="post">
            {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.path }}">
              <input type="email" name="email" class="emailInput" placeholder="Enter your email" required/>
              <input type="submit" value="Subscribe" class="subscribeButton"></input>
          </form>
        </div>
      </section>
    <footer class="footer">
        <div class="topSection">
            <a href="{% url 'index' %}" class="logo logo--footer">compsci.blog</a>
                  <ul class="footer__list">
            <li class="footer__listItem"><a href="{% url 'about' %}">About</a></li>
            <li class="footer__listItem"><a href="{% url 'topics' %}">Topics</a></li>
            <li class="footer__listItem"><a href="">Research</a></li>
            <li class="footer__listItem"><a href="">Education</a></li>
                  </ul>
                <ul class="socialList">
            <li><a href="https://twitter.com/compsci_blog" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-facebook"></a></i></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></a></i></li>
                </ul>
                <div class="copyright">
                    © Copyright 2022
                </div>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>