{% extends 'base.html' %}

{% block content %}
<div class="hero">
  <!-- <a href="https://www.freepik.com/vectors/server-rack" target="_blank" class="attribution">Vector by upklyak</a> -->
<h1 class="primaryTagline">Discover the Magic of Computer Science</h1>
<h2 class="secondaryTagline">
  Algorithms, computation, information, automation, and human factors.
</h2>
</div>
    <section class="postsSection">
        <div class="postsContainer">
            <div class="mainNewsContainer">
                <a class="news1 mainNews" href={{ featuredPost.get_absolute_url }}>
                  <img src={{ featuredPost.image }} class="newsImage">
                    <div class="mainNews__date">{{ featuredPost.date_created | date:"F j, Y" }}</div>
                    <div class="news1__title">{{ featuredPost.title }}</div>
                </a>
                {% for post in secondaryFeaturedPosts|slice:"0:2" %}
                <a class="news2 mainNews" href="{{ post.get_absolute_url }}">
                  <img src={{ post.image }} class="newsImage">
                    <div class="mainNews__date">{{ post.date_created | date:"F j, Y" }}</div>
                    <div class="news2__title">{{ post.title }}</div>
                </a>
                {% endfor %}
            </div>
            {% for post in nonFeaturedPosts|slice:"0:3" %}
            <div class="secondaryNews">
                <a href={{ post.get_absolute_url }}><img class="secondaryNews__image" src={{ post.image }}></img></a>
                <div class="secondaryNews__text">
                  <a href={{ post.get_absolute_url }}><h2 class="secondaryNews__title">{{ post.title }}</h2></a>
                    <p class="secondaryNews__excerpt">{{ post.summary }}
                        <a class="readMore" href={{ post.get_absolute_url }}>Read more</a>
                    </p>
                </div>
            </div>
            {% endfor %}
            {% for post in nonFeaturedPosts|slice:"3:" %}
            <div class="secondaryNews hidden">
                <a href={{ post.get_absolute_url }}><img class="secondaryNews__image" src={{ post.image }}></img></a>
                <div class="secondaryNews__text">
                  <a href={{ post.get_absolute_url }}><h2 class="secondaryNews__title">{{ post.title }}</h2></a>
                    <p class="secondaryNews__excerpt">{{ post.summary }}
                        <a class="readMore" href={{ post.get_absolute_url }}>Read more</a>
                    </p>
                </div>
            </div>
            {% endfor %}
            <button class="loadMoreButton" id="loadMoreButton">Load more</button>
        </div>
    </section>
    {% endblock %}
