<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CompSci Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <aside class="aside">
        <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
        <a href="{% url 'posts' %}"><lord-icon
          src="https://cdn.lordicon.com/wrprwmwt.json"
          trigger="loop"
          colors="primary:#121331,secondary:#30e849"
          class="serverIcon">
      </lord-icon></a>
      <div class="logo"><a href="{% url 'posts' %}" class="homelink">COMPSCI</div>
        <div class="logoSubtitle"><a href="{% url 'posts' %}" class="homelink">A Computer Science Blog</a></div>
        <div class="divider"></div>
        <nav>
        <ul class="navlist">
          <li class="navlist_item"><a href="{% url 'posts' %}">Home</a></li>
          <li class="navlist_item"><a href="{% url 'about' %}">About</a></li>
          {% if user.is_authenticated %}
          <div>User: {{user.get_username }}</div>
          <li class="navlist_item"><a href="{% url 'logout' %}?next={{request.path}}">Logout</a></li>
          {% else %}
          <li class="navlist_item"><a href="{% url 'login' %}?next={{request.path}}">Login</a><li>
          {% endif %}
        </ul>
        </nav>
      </aside>
      <main class="main">
        {% block content %}
        {% endblock %}
        {% block pagination %}
          {% if is_paginated %}
              <div class="pagination">
                  <span class="page-links">
                      {% if page_obj.has_previous %}
                          <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                      </span>
                      {% if page_obj.has_next %}
                          <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                  </span>
              </div>
          {% endif %}
        {% endblock %}
      </main>
    </div>
  </body>
</html>
