{% extends "base.html" %} {% block content %}
<div class="post">
    <h2 class="postTitle">{{ post.title }}</h2>
    <div class="postDate">Posted by {{ post.author }} on {{ post.date_created }}</div>
    <div class="categories">
        <div>Categories: </div>
        <ul class="categoryList">
            {% for category in post.categories.all %}
            <li><a href={{ category.get_absolute_url }} class="category">{{ category }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="post">{{ post.body | safe }}</div>
</div>
{% if user.is_staff %}
<div><a href="{% url 'post-update' post.id %}" class="button">Edit</a></div>
<div><a href="{% url 'post-delete' post.id %}" class="button">Delete</a></div>
{% endif %}
{% endblock %}
