@use "breakpoints";

.canvasContainer__visual_search {
  width: 240px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#invisButton {
  all: unset;
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  background: transparent;
}
