@use "breakpoints";
@use "clock";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald&display=swap");

$font-normal: clamp(16px, 24px, 4vw);
$font-large: clamp(32px, 64px, 8vw);
$font-button: clamp(24px, 32px, 6vw);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

.message {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: $font-normal;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @include breakpoints.sm {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

a,
button {
  all: unset;
}

.buttons {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 82%;
  display: flex;
  justify-content: center;
  gap: 36px;
  font-size: $font-button;

  @include breakpoints.sm {
    top: 87%;
    gap: 24px;
  }
}

.button {
  width: clamp(120px, 180px, 24vw);
  height: clamp(42px, 54px, 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border-radius: 0.4rem;
  border: 0.3rem solid black;
  color: black;
  background: white;
  box-shadow: 0 3px 0 0 black;
  font-weight: 700;

  &:hover {
    cursor: pointer;
  }

  &:active {
    margin-top: 3px;
    box-shadow: none;
  }

  @include breakpoints.sm {
    &:active {
      color: black;
      background: white;
    }
  }
}
