* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.shape,
.target,
.cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(78px, 146px, 10vw);
  text-align: center;
  width: 80%;

  display: flex;
  justify-content: center;
}

.cue {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(48px, 96px, 8vw);
}

.stimLeft {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -38%);
  font-size: clamp(96px, 196px, 12vw);
}

.stimRight {
  position: absolute;
  top: 50%;
  left: 73%;
  transform: translate(-50%, -38%);
  font-size: clamp(96px, 196px, 12vw);
}

.stimTask {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: clamp(36px, 68px, 5vw);
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stimContainer {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}

.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 60px;
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, 0);
  border: 2px solid black;
  font-size: clamp(16px, 24px, 4vw);
}

.button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

#Y {
  /* left: 43%; */
  left: 50%;
}

#G,
#L {
  left: 43%;
}

#R {
  left: 57%;
}

.buttonGrid {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 240px;
  width: 240px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
}

.buttonGrid .button {
  position: relative;
  width: auto;
  height: auto;
}

#canvasContainer {
  width: 500px;
  height: 500px;
  display: none;
}

.canvasBox {
  /* position: absolute; */
  width: 100px;
  height: 100px;
  /* display: none; */
}

.canvasBox.show {
  display: block;
}

.blueSquare {
  background: blue;
}

.orangeSquare {
  background: orange;
}

.green {
  color: rgb(0, 179, 0);
}

.red {
  color: red;
}

.message {
  font-size: clamp(16px, 36px, 4vw);
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.message h1 {
  font-size: clamp(20px, 36px, 4vw);
}

.message p {
  font-size: clamp(16px, 24px, 4vw);
}

.message img {
  max-width: 800px;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* #noButton {
  left: 57%;
} */

#invisButton {
  all: unset;
  position: absolute;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  background: transparent;
}

#canvasContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
